:root.light {
  --background: 244 244 242;
  --accentbackground: 222 222 222;
  --primaryText: 73 84 100;
  --secondaryText: 17 24 39;
  --highlight: 59 130 246;
  --border: 229 231 235;
}

:root {
  --background: 17 24 39;
  --accentbackground: 31 41 55;
  --primaryText: 243 244 246;
  --secondaryText: 172 179 193;
  --highlight: 96 165 250;
  --border: 55 65 81;
}
