@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply block size-auto rounded-lg border border-border bg-accentbackground p-3 hover:bg-opacity-55;
  }

  .header {
    @apply mb-3 text-2xl font-bold uppercase;
  }

  .subheader {
    @apply mb-2 text-base font-bold uppercase;
  }

  .link {
    @apply text-highlight underline;
  }

  section {
    @apply mb-7;
  }

  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .page-transition {
    @apply opacity-30;
  }
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  :root.light {
    --background: 244 244 242;
    --accentbackground: 222 222 222;
    --primaryText: 73 84 100;
    --secondaryText: 17 24 39;
    --highlight: 59 130 246;
    --border: 229 231 235;
  }

  :root {
    --background: 17 24 39;
    --accentbackground: 31 41 55;
    --primaryText: 243 244 246;
    --secondaryText: 156 163 175;
    --highlight: 96 165 250;
    --border: 55 65 81;
  }
}

ul.tree ul {
  @apply ml-3;
}
ul.tree li {
  @apply link line-clamp-1 w-full break-all border-l border-primaryText px-2;
}
ul.tree li:last-child {
  @apply border-l-0;
}
ul.tree li:before {
  @apply relative left-[-0.5em] top-[-0.3em] inline-block h-[1em] w-3 border-b border-primaryText content-[""];
}
ul.tree li:last-child:before {
  @apply border-l border-primaryText;
}
