@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply block size-full rounded-lg border border-border bg-accentbackground p-3 hover:bg-opacity-55;
  }

  .header {
    @apply mb-3 text-2xl font-bold uppercase;
  }

  .subheader {
    @apply mb-2 text-base font-bold uppercase;
  }

  .link {
    @apply text-highlight underline;
  }

  section {
    @apply mb-7;
  }

  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  @apply transition-colors;
}

@layer base {
  :root {
    --background: 244 244 242;
    --accentbackground: 222 222 222;
    --primaryText: 73 84 100;
    --secondaryText: 17 24 39;
    --highlight: 59 130 246;
    --border: 229 231 235;
  }

  :root[class~="dark"] {
    --background: 17 24 39;
    --accentbackground: 31 41 55;
    --primaryText: 243 244 246;
    --secondaryText: 156 163 175;
    --highlight: 96 165 250;
    --border: 55 65 81;
  }
}
